{% extends 'base.html' %}
{% load catalog_extras %}

{% block java_script %}
{% load static %}
<script type='text/javascript' src='{% get_static_prefix %}js/catalogs.js'></script>
<script type='text/javascript' src='{% get_static_prefix %}js/bootstrap-tabdrop.js'></script>
{% endblock java_script %}

{% block extra_style %}
<link href="{% get_static_prefix %}css/tapdrop.css" rel="stylesheet" type="text/css">
<link href="{% get_static_prefix %}css/catalogs.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block data-source %}{{ catalog_items }}{% endblock %}
{% block data-source-mobile %}{{ catalog_items }}{% endblock %}

{% block navbar-top_extensions %}
<li id="list" class="sidebar-search hidden-xs">
    <a href="#" id="list"><span class="glyphicon glyphicon-th-list"></span> List</a>
</li>
<li id="grid" class="sidebar-search hidden-xs">
    <a href="#" id="grid"><span class="glyphicon glyphicon-th"></span> Grid</a>
</li>
{% endblock %}

<!-- page title -->
{% block page_title %}<a href="{% url 'catalogs.views.catalog_view' %}" class="navbar-brand" >Catalogs</a>{% endblock %}

{% block navbar-default_extensions %}
<span class='dropdown' style="margin-left:45px;">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" onblur="removeWrapperMargin()" onfocus="addWrapperMargin($('#catalogdropdown').height())">
	{% if catalog_name == 'all' %}
		All items
	{% else %}
		{{ catalog_name }}
	{% endif %}
	<b class="caret"></b>
  </a>
  <ul class="dropdown-menu" id="catalogdropdown">
	{% for item in catalog_list %}
	  <li>
	  	<a href="/catalog/{{ item }}">
	  	{% if item == 'all' %}
			All items
		{% else %}
			{{ item }}
		{% endif %}
	  	</a>
	  </li>
	{% endfor %}
  </ul>
</span>
{% endblock %}

{% block content %}
{% if catalog_name %}
	{% if catalog %}
	<div id="gridview" class="">
		<ul id="products" class="grid list-group">
			{% regroup catalog|dictsort:'display_name' by name as catalog_items %}
			{% for item_name in catalog_items %}
				{% with item_name.list|dictsortreversed:'version' as item_list %}
				<li class="gridelement col-xs-4 col-md-3 col-lg-2 col-xl-1" data-state="all" onClick="getCatalogItem('{{ catalog_name }}', '{{ item_list.0.index }}', '{{ item_name.grouper }}', '{{ item_list.0.version }}')">
		            <div class="thumbnail">
		                <img src='{{ item_list.0.icon_name }}' width="40" class="group list-group-image" style="padding-top:15px;" />
		                <div class="caption">
		                    <h4 class="gridfont list-group-item-heading">
		 	                  	{{ item_list.0.display_name }}<br>
		 	                  	{{ item_list.0.version }}
		                      </h4>
		                </div>
		            </div>
		        </li>
		        {% endwith %}
			{% endfor %}
		</ul>
	</div>

	<div id="listview" class="table-responsive hidden">
		<table class="table table-condensed table-hover" id="dataTables-clients">
			<thead>
				<tr>
					<th class="text-center"></th>
					<th>Name</th>
					<th>Version</th>
					<th class="visible-md visible-lg"></th>
					<th class="visible-lg"></th>
				</tr>
			</thead>
			<tbody>
		        {% regroup catalog|dictsort:'display_name' by name as catalog_items %}
				{% for item_name in catalog_items %}
					{% with item_name.list|dictsortreversed:'version' as item_list %}
		            <tr onClick="getCatalogItem('{{ catalog_name }}', '{{ item_list.0.index }}', '{{ item_name.grouper }}', '{{ item_list.0.version }}')" style="cursor: pointer">
                    <td class="text-center">
		                	<img src='{{ item_list.0.icon_name }}' width="20" />
		                </td>
		                <td>
		                  {{ item_list.0.display_name }}
		                </td>
		                <td>{{ item_list.0.version }}</td>
		                <td class='visible-md visible-lg'></td>
		                <td class="visible-lg"></td>
		            </tr>
		            {% endwith %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<p>Catalog {{ catalog_name }} is empty.</p>
	{% endif %}
		<div id="catalog_item_detail">
			{% for item_name in catalog_items %}
			{% with item_name.list|dictsortreversed:'version' as item_list %}
			<div class='softwareversion modal-header hidden' id='{{ item_name.grouper }}' style="padding-bottom: 0px !important;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" style="padding-top: 5px !important; padding-bottom: 10px !important;"><img src='{{ item_list.0.icon_name }}' width="30" style="padding-bottom:5px;" /> {{ item_list.0.display_name }}</h4>
        <div style="margin-bottom: -1px !important;">
					<ul class="nav nav-tabs" role="tablist">
			  			{% for item in item_name.list|dictsortreversed:'version' %}
							<li class="activetabs" id="{{ item.version }}"><a href="#" onClick="getCatalogItem('{{ catalog_name }}', '{{ item.index }}', '{{ item_name.grouper }}', '{{ item.version }}')">{{ item.version|wrappable }}</a></li>
						{% endfor %}
					</ul>
				</div>
      </div>
			{% endwith %}
			{% endfor %}
      <div class="modal-body" style="padding-top: 0px !important; margin-top: -1px !important;">
			     <div id='item_detail' class='item_detail'></div>
      </div>
      <div class="modal-footer hidden">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
		</div>
{% endif %}
{% endblock content %}
