{% load catalog_extras %}

<table class='table table-condensed'>

{% for key, value in catalog_item.items %}
    {% if value|type_is:'array' %}
        {% if value.0|type_is:'dictionary' %}
            {# list of dicts #}
            <tr><th scope="row">{{ key }}</th>
            <td>{% include "catalogs/dict_list.html" with dict_list=value only %}</td></tr>
        {% elif 'catalogs' in key %}
          {# list of strings #}
          <tr><th scope="row">{{ key }}</th>
          <td>
              {% for item in catalogs %}
                    <label class="checkbox-inline">
                      <input type="checkbox" value="" {% if item in value %}checked{% endif %}>
                      {{ item }}
                    </label>
                  {% if not forloop.last %}<br />{% endif %}
              {% endfor %}
          </td></tr>
        {% else %}
            {# list of strings #}
            <tr><th scope="row">{{ key }}</th>
            <td>
                {% for item in value %}
                    {{ item }}
                    {% if not forloop.last %}<br />{% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}
    {% elif value|type_is:'dictionary' %}
        <tr><th scope="row">{{ key }}</th>
        <td>{% include "catalogs/generic_dict.html" with generic_dict=value only %}</td></tr>
    {% elif '_script' in key %}
        {# special case: show scripts in monospaced font #}
        <tr><th scope="row">{{ key }}</th><td class="code">{{ value }}</td></tr>


    {% elif 'description' in key %}
      {# textarea for description #}
      <tr><th scope="row">{{ key }}</th><td><textarea class="item_input" name="editor1" id="editor1" rows="3">{{ value }}</textarea></td></tr>

    {% else %}
      {# regular scalar value #}
        <tr><th scope="row">{{ key }}</th><td>
        {% if value == True %}
        <input type="checkbox" value="" checked>
        {% elif value == False %}
        <input type="checkbox" value="">
        {% else %}
        {% if key in editable %}<input class="item_input" value="{{ value }}"></input>{% else %}{{ value }}{% endif %}
        {% endif %}
        </td></tr>
    {% endif %}
{% endfor %}

</table>
