{% extends 'base.html' %}
{% load catalog_extras %}

<!-- page title -->
{% block page_title %}<a href="{% url 'catalogs.views.catalog_view' %}" class="navbar-brand" >Catalogs</a>{% endblock %}

{% block content %}
<div class="row">
	<div class='col-md-12'>
		<div id="catalog_item_detail">
			{% for item_name in catalog_items %}
			{% with item_name.list|dictsortreversed:'version' as item_list %}
			<div class='softwareversion hidden' id='{{ item_name.grouper }}'>
				<h3><img src='{{ item_list.0.icon_name }}' width="30" style="padding-bottom:5px;" /> {{ item_list.0.display_name }}</h3>
				<div>
					<ul class="nav nav-tabs" role="tablist">
			  			{% for item in item_name.list|dictsortreversed:'version' %}
							<li class="activetabs" id="{{ item.version }}"><a href="#" onClick="getCatalogItem('{{ catalog_name }}', '{{ item.index }}', '{{ item_name.grouper }}', '{{ item.version }}')">{{ item.version|wrappable }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endwith %}
			{% endfor %}
			<div id='item_detail' class='item_detail'>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
