{% extends 'base.html' %}

{% block java_script %}
{% load static %}
<script type='text/javascript' src='{% get_static_prefix %}vpp/js/vpp.js'></script>
{% endblock java_script %}

{% block content %}
<h3>App Groups</h3>
<div class="row" id="vpp">
  <div class="col-lg-12">
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
  </div>
</div>
<!-- data storage -->
<div id="data_storage"/>

<div id="manifest_detail"></div>
<!--
Bootstrap modal for showing progress
-->
<div class="modal fade" data-backdrop="static" id="process_progress">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="process_progress_title_text">Processing...</h4>
      </div>
      <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only">Indeterminate progress</span>
              <div id='process_progress_status_text'>&nbsp;</div>
            </div>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--
Bootstrap modal for creating manifests
-->
<div class="modal fade" data-backdrop="static" id="newManifestModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create new manifest</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="new-manifest-name" class="control-label">Manifest name:</label>
            <input type="text" class="form-control" id="new-manifest-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" data-new="manifest" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--
Bootstrap modal for errors
-->
<div class="modal fade" data-backdrop="static" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span id="errorModalTitleText">Error</span>
        </h4>
      </div>
      <div class="modal-body">
        <form>
          <p id="errorModalDetailText">An unexpected error occurred.</p>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock content %}
