# python compiled files
*.pyc
*.pyo

.env

.sock

# default db
db.sqlite3

# hidden mac settings
.DS_Store
.vscode/settings.json

# ignore styles exept of Default
!/munkiwebadmin/static/styles/Default
/munkiwebadmin/static/styles/*

# ignore collectstatics
/munkiwebadmin/collected_static

settings.py

# ignore reposado links
reposadolib
preferences.plist

# ignore webconfig
Web.config

config.codekit3
*.log*
migrations