# python compiled files
*.pyc
*.pyo

# settings.py and default db
settings.py
db.sqlite3

# hidden mac settings
.DS_Store
.vscode/settings.json

# ignore styles exept of Default
!/munkiwebadmin/static/styles/Default
/munkiwebadmin/static/styles/*

# ignore collectstatics
/munkiwebadmin/collected_static

# ignore reposado links
reposadolib
preferences.plist

# ignore webconfig
Web.config

config.codekit3
*.log
