# python compiled files
*.pyc
*.pyo

.env

.sock

# default db
db.sqlite3

# hidden mac settings
.DS_Store
.vscode/settings.json

# ignore collectstatics
static_root
munkiwebadmin/static/styles

config.codekit3
*.log*
migrations

favicon.ico
