django>=1.11,<2.0
uwsgi
psycopg2-binary
mysqlclient
pyodbc
django-pyodbc-azure<2.0
django-encrypted-fields
python-ldap
django-auth-ldap
django-remote-auth-ldap
django-cors-headers
requests
simpleMDMpy
