{% extends "base.html" %}
{% load mwa_extras %}

{% block java_script %}
{% load static %}
{% if not user.is_authenticated %}
<script type='text/javascript'>
$(document).ready(function() {
    $('#loginModal').on('shown.bs.modal', function () {
        $('#login_username_field').find('input').focus();
    })
    $('#loginModal').modal('show');
});
</script>
{% endif %}
{% endblock java_script %}

{% block content %}
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="1; url={% url "manifests" %}">
{% else %}
<!--
Bootstrap modal
-->
<div class="modal fade" data-hide="false" data-backdrop="static" id="loginModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form method="post" action="{% url "login" %}">
      <div class="modal-header">
        <img src="{% get_static_prefix %}img/Munki.png" width="100" style="margin-left: 75px">
        <!--<h3 class="modal-title text-primary">Please log in.</h3>-->
      </div>
      <div class="modal-body">
          {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                  Your username and password didn't match. Please try again.
              </div>
          {% endif %}
          {% csrf_token %}
          <div class="form-group" id='login_username_field'>
            <!--  {{ form.username.label_tag }} -->
              {{ form.username|addcss:'form-control' }}
          </div>
          <div class="form-group" style="margin-bottom: 0px !important;">
            <!--  {{ form.password.label_tag }} -->
              {{ form.password|addcss:'form-control' }}
          </div>
          <script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', '{{form.username.label}}');
        $("#id_password").attr('placeholder', '{{form.password.label}}');
    });
</script>
          <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="modal-footer">
          <input type="submit" class="btn btn-primary btn-block" value="Log in" />
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endif %}
{% endblock content %}
