.machineIcon {
  position: relative;
  width: 100px;
  height: 80px;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(248, 248, 248, 0);
  transition: background 0.5s ease;
}

.machineIcon:hover .overlay {
  display: block;
  background: rgba(248, 248, 248, .5);
}

.machineIcon img {
  position: absolute;
  left: 0;
}

.button {
  position: absolute;
  width: 100px;
  left:0;
  top: 35px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  font-size: 15pt;
}

.machineIcon:hover .button {
  opacity: 1;
}