<div class="modal" id="manifestItems" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="manifestItemsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="manifestItemsLabel">{{ pathname }}</h1>
        <div class='' id='delete_btn'>
        {% if perms.manifests.delete_manifestfile %}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</button>
        {% endif %}
        {% if perms.manifests.change_manifestfile %}
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#copyManifestModal">Duplicate</button>
        {% endif %}
        </div>
      </div>
      <div role="tabpanel" class="modal-body" >
        <ul class="nav nav-pills mb-3" id="editortabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="basicstab" data-bs-toggle="tab" data-bs-target="#basicstab-pane" type="button" role="tab" aria-controls="basicstab-pane" aria-selected="false">Basics</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="detailtab" data-bs-toggle="tab" data-bs-target="#detailtab-pane" type="button" role="tab" aria-controls="detailtab-pane" aria-selected="false">Details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="plisttab" data-bs-toggle="tab" data-bs-target="#plisttab-pane" type="button" role="tab" aria-controls="plisttab-pane" aria-selected="false">Plist</button>
          </li>
        </ul>
        <div class="tab-content" id="item_editor">
          <div class="tab-pane fade show active" id="basicstab-pane" role="tabpanel" aria-labelledby="basicstab" tabindex="0">
              <div id="basics" class="plist-editor"></div>
          </div>
          <div class="tab-pane fade show" id="detailtab-pane" role="tabpanel" aria-labelledby="detailtab" tabindex="0">
              <div id="detail" class="plist-editor"></div>
          </div>
          <div class="tab-pane fade show" id="plisttab-pane" role="tabpanel" aria-labelledby="plisttab" tabindex="0">
              <div id='plist'>{{ plist_text }}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        {% if perms.manifests.change_manifestfile %}
        <div class='pull-right d-none' id='save_and_cancel'>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelEditConfirmationModal">Cancel</button>
          <button type="button" class="btn btn-success" onClick="saveManifestItem()">Save</button>
        </div>
        {% endif %}
        <div class='pull-right' id='cancel'>
          {% if not perms.manifests.change_manifestfile %}<span class="bg-danger">You don't have permissions to make changes here.</span>{% endif %}
          <button type="button" class="btn btn-default" onClick="cancelEdit()">Cancel</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
Bootstrap modal for confirming manifest deletion
-->
<div class="modal" id="deleteConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete manifest?</h4>
      </div>
      <div class="modal-body">
        <p>Really delete <strong>{{ pathname }}</strong>?</p>
        <p>This action cannot be undone.</p>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="deleteManifestItem('{{ pathname }}')">Delete</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for confirming canceling editing
-->
<div class="modal" id="cancelEditConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Discard your changes?</h4>
      </div>
      <div class="modal-body">
        <p>Really discard your changes to <strong>{{ pathname }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="cancelEdit()">Discard Changes</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Continue Editing</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for saving or canceling when loading a different manifest
-->
<div class="modal" id="saveOrCancelConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save your changes?</h4>
      </div>
      <div class="modal-body">
        <p>Save your changes to <strong>{{ pathname }}</strong> before proceeding?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="cancelEdit()">Discard Changes</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onClick="saveManifestItem()">Save Changes</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Continue Editing</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for duplicating a manifest
-->
<div class="modal" id="copyManifestModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Duplicate manifest</h4>
      </div>
      <div class="modal-body">
        <form id="manifest-duplicate-form">
          <div class="form-group">
            <label for="recipient-name" class="control-label">New manifest name:</label>
            <input type="text" class="form-control" id="manifest-copy-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
          <button type="button" data-copy="manifest" class="btn btn-primary">Duplicate</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
