{% load update_extras %}

<script>
	$(document).ready(function() {
		oTable = $('#updates').dataTable({
			paging: false,
			"bInfo": false,
			"aaSorting": [[ 4, "desc" ]],
			"columns": [
			    { "orderable": false },
			    { "orderable": false },
			    { "orderable": false },
			    { "orderable": false },
			    null,
			    { "orderable": false },
			    {% for branch in branches %}
				{ "orderable": false },
				{% endfor %}
			  ],
		});

		$('#search').keyup(function(){
	      oTable.fnFilter( $(this).val() ).draw();
		})

		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	});
</script>

<table id="updates" class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th class="hidden-xs">Version</th>
			<th class="visible-md visible-lg">Size</th>
			<th>Date</th>
			<th class="hidden"></th>
			<th class="visible-md visible-lg">Apple</th>
			{% for branch in branches reversed %}
			<th>
				<div class="dropdown">
				  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				    {{ branch.name }}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="addall('{{ branch.name }}');">add all updates</a></li>
				    <li role="presentation" class="divider"></li>
				    {% for bran in branches %}
				    	{% ifnotequal bran.name branch.name %}
				    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="copybranch('{{ bran.name }}', '{{ branch.name }}');">copy {{ bran.name }}</a></li>
				    	{% endifnotequal %}
				    {% endfor %}
				    <li role="presentation" class="divider"></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="deletebranch('{{ branch.name }}');">delete</a></li>
				  </ul>
				</div>
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for product in products %}
		{% if product.visible %}
		<tr style="word-break: break-all;">
			<td onclick="showDiscr(this)">
				{{ product.title }} {% if product.depr %}<span class="label label-warning">depricated</span>{% endif %}
				<div class="well hidden" style="margin-top:10px;">
				<b>{{ product.id }}</b><br><br>
				{{ product.description|safe }}
				</div>
			</td>
			<td class="hidden-xs">
				{{ product.version }}
			</td>
			<td class="visible-md visible-lg">
				{{ product.size|humanreadablesize }}
			</td>
			<td>
				{{ product.PostDate|date:"d.m.y" }}
			</td>
			<td class="hidden">{{ product.PostDate|date:"U" }}</td>
			<td class="visible-md visible-lg">
				{% if product.depr %}<button class="btn btn-sm btn-default disabled"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Unlisted</button>{% else %}<button class="btn btn-sm btn-primary disabled"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Listed</button>{% endif %}
			</td>
			{% for branch in branches reversed %}
				<td>
				<button id="{{ product.id }}" onclick='addtoqueue("{{ product.id }}", "{{ branch.name }}", "{% if product.id in branch.products %}true{% endif %}")' class="btn btn-sm {{ branch.name }} 
				{% if product.id in branch.products %}
				btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Listed
				{% else %}
				btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Unlisted
				{% endif %}
				</button>
				</td>
			{% endfor %}
		</tr>
		{% endif %}	
	  {% endfor %}
	</tbody>
</table>