django==4.2.11
psycopg2-binary==2.9.9
gunicorn==21.2.0
mysqlclient==2.2.4
django-encrypted-model-fields==0.6.5
python-ldap==3.4.3
django-auth-ldap==4.5.0
django-cors-headers==4.2.0
requests==2.32.2
djangorestframework==3.15.0
django-auth-adfs==1.14.0
setuptools==70.0.0