#item_editor,
#item_list {
    
}

/* fix for DataTables duplicate sorting controls */
.dataTables_scrollBody thead {
    visibility: hidden;
}

#item_list .list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* display script items in a monospaced font */
[data-path="preinstall_script"] textarea,
[data-path="postinstall_script"] textarea,
[data-path="preuninstall_script"] textarea,
[data-path="postuninstall_script"] textarea,
[data-path="uninstall_script"] textarea,
[data-path="installcheck_script"] textarea,
[data-path="uninstallcheck_script"] textarea {
    font-family: Courier, monospace;
    font-size: 12px;
}