<div class="modal" id="pkginfoItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pkginfoItemLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-fullscreen-xl-down">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{{ icon_url }}" class='pkginfo-icon pull-left' height='32' style="margin-top:3px; margin-right:10px;"/>
          <h1 class="modal-title fs-5" data-installer-item-path='{{ installer_item_path }}' id="pkginfoItemLabel">{{ pathname }}</h1>
          {% if perms.pkgsinfo.delete_pkginfofile %}
          <button type="button" class="btn btn-danger pull-right" onClick="getPkgRefCount()" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</button>
          {% endif %}
      </div>
      <div role="tabpanel" class="modal-body" >
        <ul class="nav nav-pills mb-3" id="editortabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="basicstab" data-bs-toggle="tab" data-bs-target="#basicstab-pane" type="button" role="tab" aria-controls="basicstab-pane" aria-selected="false">Basics</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="detailtab" data-bs-toggle="tab" data-bs-target="#detailtab-pane" type="button" role="tab" aria-controls="detailtab-pane" aria-selected="false">Details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="plisttab" data-bs-toggle="tab" data-bs-target="#plisttab-pane" type="button" role="tab" aria-controls="plisttab-pane" aria-selected="false">Plist</button>
          </li>
        </ul>
        <div class="tab-content" id="item_editor">
          <div class="tab-pane fade show active" id="basicstab-pane" role="tabpanel" aria-labelledby="basicstab" tabindex="0">
              <div id="basics" class="plist-editor"></div>
          </div>
          <div class="tab-pane fade show" id="detailtab-pane" role="tabpanel" aria-labelledby="detailtab" tabindex="0">
              <div id="detail" class="plist-editor"></div>
          </div>
          <div class="tab-pane fade show" id="plisttab-pane" role="tabpanel" aria-labelledby="plisttab" tabindex="0">
              <div id='plist'>{{ plist_text }}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        {% if perms.pkgsinfo.change_pkginfofile %}
        <div class='pull-right d-none' id='save_and_cancel'>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelEditConfirmationModal">Cancel</button>
          <button type="button" class="btn btn-primary" onClick="savePkginfoItem()">Save</button>
          <button type="button" class="btn btn-primary" onClick="savePkginfoItem('true')">Save and close</button>
        </div>
        {% endif %}
        <div class='pull-right' id='cancel'>
          {% if not perms.pkgsinfo.change_pkginfofile %}<span class="bg-danger">You don't have permissions to make changes here.</span>{% endif %}
          <button type="button" class="btn btn-default" data-bs-dismiss="modal" onClick="cancelEdit()">Cancel</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
Bootstrap modal for confirming pkginfo deletion
-->
<div class="modal" id="deleteConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete pkginfo?</h4>
      </div>
      <div class="modal-body">
        <p>Really delete <strong>{{ pathname }}</strong>?</p>
        <p>This action cannot be undone.</p>
        <div id="deleteConfirmationModalInstallerItem" class='d-none'>
            <div class="checkbox pull-right">
                <label>
                    <input type="checkbox" id="delete_pkg" disabled>
                    Also delete installer item
                </label>
            </div>
            <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onClick="deletePkginfoItem()">Delete</button>
        <button type="button" class="btn btn-default" data-bs-target="#pkginfoItem" data-bs-toggle="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for confirming canceling editing
-->
<div class="modal" id="cancelEditConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Discard your changes?</h4>
      </div>
      <div class="modal-body">
        <p>Really discard your changes to <strong>{{ pathname }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="cancelEdit()">Discard Changes</button>
        <button type="button" class="btn btn-default" data-bs-target="#pkginfoItem" data-bs-toggle="modal">Continue Editing</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for saving or canceling when loading a different pkginfo
-->
<div class="modal" id="saveOrCancelConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save your changes?</h4>
      </div>
      <div class="modal-body">
        <p>Save your changes to <strong>{{ pathname }}</strong> before proceeding?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onClick="cancelEdit()">Discard Changes</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" onClick="savePkginfoItem()">Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
