{% extends 'base.html' %}
{% load pkgsinfo_extras %}

{% block extra_style %}
{% load static %}
<link rel="stylesheet" href="{% get_static_prefix %}pkgsinfo/css/pkgsinfo.css" type="text/css" media="all" />
{% endblock extra_style %}

{% block java_script %}
{% load static %}
<script type='text/javascript' src='{% get_static_prefix %}js/typeahead.bundle.js'></script>
<script type='text/javascript' src='{% get_static_prefix %}js/jquery.plisteditor.js'></script>
<script type='text/javascript' src='{% get_static_prefix %}js/plistparser.js'></script>
<script type="text/javascript" charset="utf-8" src="{% get_static_prefix %}js/ace/src-min-noconflict/ace.js"></script>
<script type='text/javascript' src='{% get_static_prefix %}js/mwa_editor_shared.js'></script>
<script type='text/javascript' src='{% get_static_prefix %}pkgsinfo/js/pkgsinfo.js'></script>
<script type='text/javascript' src='{% get_static_prefix %}js/chosen.jquery.min.js'></script>
{% endblock java_script %}

{% block page_title %}Package Info <span class="badge bg-secondary" id="item-count-badge">0</span>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <div class="btn-group" role="group">
              <button type="button" id="catalog_dropdown" class="btn btn-secondary dropdown-toggle" data-value="{{catalog}}" data-bs-toggle="dropdown" aria-expanded="false">
                {{catalog}}
              </button>
              <ul class="dropdown-menu" id="catalog_dropdown_list">
                <li><a class="dropdown-item" href="#">all</a></li>
              </ul>
            </div>
            <button type="button" id="makecatalogs" class="btn btn-primary" onClick="rebuildCatalogs()">Makecatalogs</button>
          </div>
          <div class="input-group">
            <div class="btn-group" role="group">
              <button type="button" id="massaction_dropdown" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu" id="massaction_dropdown_list">
                <li><a href="#" class="dropdown-item disabled" id="mass_delete">Delete items…</a></li>
                <li><a href="#" class="dropdown-item disabled" id="mass_edit_catalogs">Edit catalogs…</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /row -->

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <table class="table table-striped wraptext" id='list_items'>
          <thead>
            <tr><th>Name</th><th>Version</th></tr>
          </thead>
          <tbody>
              <!-- table is filled via AJAX/JSON calls by DataTables -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- data storage -->
<div id="data_storage"/>

<div id="pkginfo_item_detail"></div>
<!--
Bootstrap modal for mass editing pkginfo items
-->
<div class="modal" id="massEditModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit catalogs for selected items</h4>
      </div>
      <div class="modal-body">
          <p id="massEditModalBodyText">Edit catalogs for the selected pkginfo items:</p>
          <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                        <label for="catalogs_to_add">Add:</label>
                        <select multiple class="form-select" data-placeholder=" " id='catalogs_to_add'>
                          <option>testing</option>
                        </select>
                   </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                       <label for="catalogs_to_delete">Remove:</label>
                       <select multiple class="form-select" data-placeholder=" " id='catalogs_to_delete'>
                         <option>testing</option>
                       </select>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onClick="massEditCatalogs()">Change</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for confirming mass pkginfo deletion
-->
<div class="modal" id="massDeleteConfirmationModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete selected pkginfo items?</h4>
      </div>
      <div class="modal-body">
        <p id="massDeleteConfirmationModalBodyText">Really delete the selected pkginfo items?</p>
        <p>This action cannot be undone.</p>
        <div class="checkbox pull-right">
            <label>
                <input type="checkbox" id="mass_delete_pkg">
                Also delete installer items
            </label>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onClick="deletePkginfoList()">Delete</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for showing process progress
-->
<div class="modal" data-bs-backdrop="static" id="process_progress">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="process_progress_title_text">Processing...</h4>
      </div>
      <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only">Indeterminate progress</span>
              <div id='process_progress_status_text'>&nbsp;</div>
            </div>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for errors
-->
<div class="modal" data-bs-backdrop="static" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger">
            <span class="glyphicon glyphicon-alert text-danger" aria-hidden="true"></span>
            <span id="errorModalTitleText">Error</span>
        </h4>
      </div>
      <div class="modal-body">
        <form>
          <p id="errorModalDetailText">An unexpected error occurred.</p>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock content %}
