<!-- <h3>{{ list_title }} <span class="badge badge-info">{{ inventory_items|length }}</span></h3> -->
{% if inventory_items|length %}
  <br>
  <table class='clientlist table table-hover table-condensed '>
      <tbody>
      {% for item in inventory_items %}
          <tr onclick="document.location = '{% url "inventory" %}items/?name={{ item.name|urlencode }}';">
              <td>
                  {{ item.name }}
              </td>
              <td>
                <a href='{% url "inventory" %}items/?name={{ item.name|urlencode }}&version={{ item.version|urlencode }}'>
                  {{ item.version }}
                </a>
              </td>
              <td class="hidden">{{ item.bundleid }}</td>
              <td class="visible-md visible-lg text-right" title='{{ item.path }}'>{{ item.path|truncatechars:50 }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
  <p><i>No {{ list_title|lower }}.</i></p>
{% endif %}
