{% if machine_list|length %}
  <p/>
  <table class='clientlist table table-condensed'>
      <thead>
          <tr>
            <th>Hostname</th>
            <th>Username</th>
            <th>Location</th>
            <th>Last inventory update</th>
            <th>Last checkin</th>
          </tr>
          </tr>
      </thead>
      <tbody>
      {{ machine_list }}
      {% for machine in machine_list %}
          <tr>
              <td>
                  <a href="{% url 'inventory' %}detail/{{machine.serial_number}}">
                  {{ machine.hostname }}
                </a>
              </td>
              <td>{{ machine.username }}</td>
              <td>{{ machine.location }}</td>
              <td>{{ machine.last_inventory_update|date:"Y-m-d H:i" }}</td>
              <td>{{ machine.last_munki_update|date:"Y-m-d H:i" }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
  <p><i>No {{ list_title|lower }}.</i></p>
{% endif %}
