{% extends 'base.html' %}
{% load pkgsinfo_extras %}

{% block extra_style %}
{% load static %}
{% endblock extra_style %}

{% block java_script %}
{% load static %}
<script type='text/javascript' src='{% get_static_prefix %}icons/js/icons.js'></script>
<script type='text/javascript' src='{% get_static_prefix %}js/mwa_editor_shared.js'></script>
{% endblock java_script %}

{% block page_title %}Icons <span class="badge bg-secondary" id="item-count-badge">0</span>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-success {% if not perms.pkgsinfo.add_pkginfofile %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#newIconModal">
                New icon
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /row -->

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <table class="table table-striped wraptext" id='list_items'>
          <thead>
            <tr><th>Icon</th><th>Name</th></tr>
          </thead>
          <tbody>
              <!-- table is filled via AJAX/JSON calls by DataTables -->
          </tbody>
        </table>
    </div>
  </div>
</div>

<!-- data storage -->
<div id="data_storage"/>

<!--
Bootstrap modal for upload new icon
-->
<div class="modal" id="newIconModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newIconModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Upload new icon</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-btn">
                  <label class="btn btn-primary" for="my-file-selector">
                      <input id="my-file-selector" onchange="previewFile(this)" type="file" accept="image/*" style="display:none;">
                      Choose file
                  </label>
                </span>
                <input type="text" class="form-control" id="new-icon-name" placeholder="">
              </div><!-- /input-group -->
            </div>
            <div class="col-sm-2">
              <img src="/static/img/imgPlaceholder.png" height="100" width="100" alt="Image preview..." id="previewImg" class="img-responsive center-block">
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
            <button type="button" data-new="manifest" class="btn btn-primary" onclick="uploadIcon()">Upload</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
<!--
Bootstrap modal for showing icon edit
-->
<div class="modal" id="iconItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="iconItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="pathname"></h4>
          <div class='pull-right' id='delete_btn'>
          {% if perms.pkgsinfo.delete_pkginfofile %}
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete</button>
          {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="">
          <div role="tabpanel" class="modal-body" >
            <div class="row">
              <div class="col-md-9 col-lg-10">
                  <input type="text" class="form-control" id="inputIconName" value="" disabled>
              </div>
              <div class="col-md-3 col-lg-2">
                <img class="img-responsive center-block"  height="100" width="100" id="iconImg" src="" alt=""></img>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {% if perms.pkgsinfo.change_pkginfofile %}
          <div class='pull-right hidden' id='save_and_cancel'>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelEditConfirmationModal">Cancel</button>
            <button type="button" class="btn btn-success" onClick="saveIconItem()">Save</button>
          </div>
          {% endif %}
          <div class='pull-right' id='cancel'>
            {% if not perms.pkgsinfo.change_pkginfofile %}<span class="bg-danger">You don't have permissions to make changes here.</span>{% endif %}
            <button type="button" class="btn btn-default" onClick="cancelEdit()">Cancel</button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!--
  Bootstrap modal for confirming icons deletion
  -->
  <div class="modal" id="deleteConfirmationModal" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete icon?</h4>
        </div>
        <div class="modal-body">
          <p>Really delete <strong id="pathname"></strong>?</p>
          <p>This action cannot be undone.</p>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="deleteIconItem()">Delete</button>
          <button type="button" class="btn btn-default" data-bs-target="#pkginfoItem" data-bs-toggle="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!--
  Bootstrap modal for confirming canceling editing
  -->
  <div class="modal" id="cancelEditConfirmationModal" data-bs-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Discard your changes?</h4>
        </div>
        <div class="modal-body">
          <p>Really discard your changes to <strong id="pathname"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="cancelEdit()">Discard Changes</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Continue Editing</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!--
  Bootstrap modal for saving or canceling when loading a different icon
  -->
  <div class="modal" id="saveOrCancelConfirmationModal" data-bs-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Save your changes?</h4>
        </div>
        <div class="modal-body">
          <p>Save your changes to <strong id="pathname"></strong> before proceeding?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  onClick="cancelEdit()">Discard Changes</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" onClick="saveIconItem()">Save Changes</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Continue Editing</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!--
Bootstrap modal for showing process progress
-->
<div class="modal" data-backdrop="static" id="process_progress">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="process_progress_title_text">Processing...</h4>
      </div>
      <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only">Indeterminate progress</span>
              <div id='process_progress_status_text'>&nbsp;</div>
            </div>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
Bootstrap modal for errors
-->
<div class="modal" data-backdrop="static" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger">
            <span class="glyphicon glyphicon-alert text-danger" aria-hidden="true"></span>
            <span id="errorModalTitleText">Error</span>
        </h4>
      </div>
      <div class="modal-body">
        <form>
          <p id="errorModalDetailText">An unexpected error occurred.</p>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock content %}
