*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --sidebar-size: 230px;
}

body {
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: var(--sidebar-size);
    min-width: var(--sidebar-size);
    transition: all 0.35s ease-in-out;
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.main {
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background-color: var(--bs-secondary-bg);
}

/* Sidebar Elements Style */
.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-header {
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    color: var(--bs-body-color);
    font-size: 1rem;
}

.avatar {
    height: 38px;
    width: 38px;
}

.navbar {
    background-color: var(--bs-body-bg);
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

/* Sidebar toggle */
#sidebar.collapsed {
    margin-left: calc(-1 * var(--sidebar-size));
}

/* content style */
.content {
    flex: 1;
    max-width: 100vw;
    overflow: auto;
    height: 100%;
}

@media (max-width:767.98px) {
    .content {
        max-width: auto;
        width: 100vw;
    }

    .navbar, footer {
        width: 100vw;
    }
}

