{% extends 'base.html' %}
{% load url from future %}

{% block java_script %}
{% load static %}
<script type='text/javascript' src='{% get_static_prefix %}js/manifests.js'></script>
{% if manifest_name %}
<script>
	function sideSecific() {getManifestDetail('{{manifest_name}}');}
</script>
{% endif %}
{% endblock %}

{% block data-source %}{{ manifest_list_josn }}{% endblock %}
{% block data-source-mobile %}{{ manifest_list_josn }}{% endblock %}

<!-- page title -->
{% block page_title %}<a href="{% url 'manifests.views.index' %}" class="navbar-brand">Manifests</a>{% endblock %}

{% block navbar-default_extensions %}
<a style="margin-left:40px;" class='hidden-xs {% if not perms.reports.change_machine %}disabled{% endif %}' id='new_manifest' onclick="location.href='{% url "manifests.views.new" %}';">New manifest</a>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4 hidden-sm hidden-xs">
			<div>
				{% if manifest_list %}
				{% url "manifests.views.index" as the_url %}
				<div id="listbig" class="list-group">
					{% for manifest in manifest_list|dictsort:"name"  %}
					<a class='manifest list-group-item' data-state="all" id='{{ manifest.name }}' href='#'>{{ manifest.name }}</a>
					{% endfor %}
				</div>
				{% else %}
				<p>No manifests are available.</p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-4 hidden-md hidden-lg" style="padding-left:15px; padding-right:15px;">
			<div>
				<div>
					<button class='btn btn-default btn-group-justified 
					{% if not perms.reports.change_machine %}
					disabled
					{% endif %}
					' id='new_manifest' onclick="location.href='{% url "manifests.views.new" %}';">New manifest</button>
					<h3>
						Manifests
						<span class="badge badge-info">{{ manifest_list|length }}</span>
					</h3>
				</div>
				{% if manifest_list %}
				{% url "manifests.views.index" as the_url %}
				<div id="listsmall" class="list-group" style="font-size:12pt; overflow-y: scroll; max-height:250px;">
					{% for manifest in manifest_list|dictsort:"name"  %}
					<a class='manifest list-group-item' data-state='all' id='{{ manifest.name }}' href='#'>{{ manifest.name }}</a>
					{% endfor %}
				</div>
				{% else %}
				<p>No manifests are available.</p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-8" style="height: 100%;">
			<div id="detail" style="height: 100%; padding-top:50px;">
			</div>
		</div>
	</div>
{% endblock %}

