{% extends 'base.html' %}

{% block java_script %}
{% load static %}
<script type='text/javascript' src='{% get_static_prefix %}js/items.js'></script>
{% endblock %}

<!-- page title -->
{% block page_title %}<a href="{% url 'inventory.views.items' %}" class="navbar-brand" >Inventory</a>{% endblock %}

{% block content %}
<table id='inventory-items-table' class='table table-condensed table-hov'>
    <thead>
        <tr><th>Name</th><th>Version(s)</th></tr>
    </thead>
    <tbody>
        <!-- table is filled via AJAX/JSON calls by DataTables -->
        <!-- see js/items.js -->
    </tbody>
</table>
{% endblock %}